# Database connection (MySQL)
DATABASE_URL="mysql://avnadmin:password_avien@mysql-37e42fa3-martabak-management.g.aivencloud.com:20161/martabak"

# JWT Secret
# JWT_SECRET="martabak-super-secret-jwt-key-2026-secure-random"
# JWT_EXPIRES_IN="7d"

# Server Port
# PORT=5000

JWT_SECRET="martabak-super-secret-jwt-key-2026-secure-random"
JWT_EXPIRES_IN="7d"

PORT=5000
